body {
    font-family: 'Helvetica','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.h-10 {
    height: 10% !important;
}

.h-20 {
    height: 20% !important;
}

.h-30 {
    height: 30% !important;
}

.h-40 {
    height: 40% !important;
}

.h-50 {
    height: 50% !important;
}

.h-60 {
    height: 60% !important;
}

.h-70 {
    height: 70% !important;
}

.h-80 {
    height: 80% !important;
}

.h-90 {
    height: 90% !important;
}

.h-100 {
    height: 100% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-50 {
    width: 50% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.w-80 {
    width: 80% !important;
}

.w-90 {
    width: 90% !important;
}

.w-100 {
    width: 100% !important;
}

.max-height-40vh {
    max-height: 40vh !important;
}

.app-container {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto !important;
}

.nav-link.active {
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}

.nav-link:hover:not(.active) {
    color: rgba(255, 255, 255, 0.8)
}

.main-content {
    width: 100%;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}

.flex-direction-row {
    flex-direction: row !important;
}

.flex-row-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-centered-content {
    display: flex;
    justify-content: center;
}

.card {
    margin-right: 5px;
    width: 100%;
    box-shadow: rgba(13, 110, 253, 0.24) 0px 3px 8px;
    transition: all .3s ease;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.07);
    z-index: 999999;
    box-shadow: rgba(13, 110, 253, 0.7) 0px 3px 8px;
}

.loading-container {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 99999999999999 !important;
    top: 0;
    padding-top: 20%;
    text-align:center;
    background: rgba(255,255,255, 0.5);
  }

  .loading-text {
    font-style: italic;
    color:#0d6efd;
  }

  .font-color-default {
      color:rgba(255, 255, 255, 0.9);
  }

  .font-color-gray {
      color: #656566
  }

  .font-color-green {
      color: rgba(34,202,31,1);
  }

  .font-color-red {
      color: rgba(240,26,26,1);
  }

  .font-size-heading {
      font-size: 1.1rem;
  }

  .font-size-small {
      font-size: 0.75rem;
  }

  .font-size-smaller {
      font-size: 0.6rem;
  }

  .font-size-normal {
      font-size: 1.0rem;
  }

  .font-weight-bold {
      font-weight: bold;
  }

  .font-style-italic {
      font-style: italic;
  }

  .text-decoration-underline {
      text-decoration: underline;
  }
  

  .justify-content-space-around {
      justify-content: space-around !important;
  }

  .list-card {
      width: 21%;
      display: inline-block;
      margin-left: 3%;
      margin-bottom: 1%;
  }

  .list-card-min-height {
      min-height: 50vh;
  }
  
  .filter-box {
      width: 10%;
      transition: ease all .3s;
  }

  .filter-box:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
  }

  .filter-box:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }

  .filter-box:hover {
      cursor: pointer;
  }

  .filter-box:not(.active) {
      background: rgba(104, 104, 107, 0.5);
  }

  .filter-box:hover:not(.active) {
      background: rgba(13,110,253,0.7);
  }

  .filter-box.active {
      background: rgba(13,110,253,1);
      font-weight: bold;
  }

  .min-height-8vh {
      min-height: 8vh !important;
  }

  .flex-85 {
      flex: 0 0 85%;
  }

  .flex-15 {
      flex: 0 0 15%;
  }

  .flex-80 {
      flex: 0 0 80%;
  }

  .flex-20 {
      flex: 0 0 20%;
  }

  .text-right {
      text-align: right !important;
  }

  .text-left {
      text-align: left !important;
  }

  .bg-blue {
      background: #0d6efd;
  }

  .bg-orange {
      background: #eb9834;
  }

  .bg-green {
      background: rgba(34,202,31,1);
  }

  .bg-gray {
      background: rgba(137, 137, 143, 0.8);
  }

  .project-status-text {
      /* width: 50%; */
      text-align: center;
      border-radius: 8px;
      font-weight: bold;
      color: white;
      padding-top: 2px;
      padding-bottom: 2px;
  }

  .mt-smallest {
      margin-top: 1% !important;
  }

  .mt-smaller {
      margin-top: 3% !important;
  }

  .mt-small {
      margin-top: 6% !important;
  }

  .mt-med {
      margin-top: 10% !important;
  }

  .mt-large {
      margin-top: 20% !important;
  }

  .ml-smallest {
    margin-left: 1% !important;
  }

  .ml-smaller {
    margin-left: 3% !important;
  }

  .ml-small {
    margin-left: 6% !important;
  }

  .ml-med {
    margin-left: 10% !important;
  }

  .ml-large {
    margin-left: 20% !important;
  }

  .mr-smallest {
    margin-right: 1% !important;
  }

  .mr-smaller {
    margin-right: 3% !important;
  }

  .mr-small {
    margin-right: 6% !important;
  }

  .mr-med {
    margin-right: 10% !important;
  }

  .mr-large {
    margin-right: 20% !important;
  }

  .pr-smallest {
    padding-right: 1% !important;
  }

  .pr-smaller {
    padding-right: 3% !important;
  }

  .pr-small {
    padding-right: 6% !important;
  }

  .pr-med {
    padding-right: 10% !important;
  }

  .pr-large {
    padding-right: 20% !important;
  }

  .pl-smallest {
    padding-left: 1% !important;
  }

  .pl-smaller {
    padding-left: 3% !important;
  }

  .pl-small {
    padding-left: 6% !important;
  }

  .pl-med {
    padding-left: 10% !important;
  }

  .pl-large {
    padding-left: 20% !important;
  }

  .project-title-text {
      margin-top: 5%;;
      margin-left: 5%;
  }

  .border-green {
      border: solid #22ca1f;
  }

  .border-red {
      border: solid #f01a1a;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .arrow-up {
    border: solid #22ca1f;
    border-width: 0 3px 3px 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .arrow-down {
    border: solid #f01a1a;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .link-like-text {
      color:rgba(13, 110, 253, 0.7);
      text-decoration: underline rgba(13, 110, 253, 0.7);
  }

  .link-like-text:hover {
      cursor: pointer;
      color:rgba(13, 110, 253, 1);
      text-decoration: underline rgba(13, 110, 253, 1);
  }

  .bottom-element {
      position: absolute;
      bottom: 0;
  }

  .left-element {
      position: absolute;
      left: 0;
  }

  .right-element {
      position: absolute;
      right: 0;
  }

  .test {
      border: 1px solid blue !important;
  }

  .custom-button, .custom-button:focus {
      outline: none !important;
      border: none !important;
      transition: ease all .3s;
  }

  .custom-button:disabled {
      pointer-events: none;
      opacity: 0.5;
  }

  .cursor-pointer:hover {
      cursor: pointer;
  }

  .button-blue {
      background: rgba(13,110,253,1);
  }

  .button-blue:hover {
      background: rgb(16, 98, 221);
  }

  .button-green {
      background: rgba(32, 190, 29, 1);
      color: white !important;
  }

  .button-green:hover {
      background: rgb(33, 173, 31);
  }

  .button-red {
      background: rgb(230, 33, 33);
  }

  .button-red:focus {
      background: rgb(185, 22, 22);
  }

  .button-red:hover {
      background: rgb(219, 25, 25);
  }

  .button-round {
      border-radius: 10px;
  }

  .button-rectangular {
      border-radius: 5px;
  }

  .modal-container {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999999999;
    left: 0;
    top: 0;
    padding-top: 8%;
    background: rgba(113, 121, 228, 0.7);
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  
  .modal-content-wrapper {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: left;
    text-align: left;
    flex-direction: column;
    /* min-height: 90%; */
  }
  
  .modal-content {
    max-height: 90%;
    width: 40%;
    margin-top: -5%;
    border-radius: 10px;
    background: white;
    overflow-x: hidden;
    padding-bottom: 2%;
  }

  .modal-content-small {
      width: 25%;
      padding-bottom: 1%;
  }
  
  .modal-header {
    display: flex;
    padding-left: 10px;
    align-items: center;
    background:rgba(13,110,253,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    width: 100%;
    height: 30px;
  }

  .custom-input, .custom-select-search__input {
      outline: none;
      border: 1px solid rgba(137, 137, 143, 0.6);
      border-radius: 4px;
      min-height: 35px;
  }

  .custom-input:focus, .custom-select-search__input:focus {
    box-shadow: 0 0 5px rgb(31, 120, 145);
    border: none;
  }

  .custom-select-search {
      width: 100% !important;
  }

  .custom-select-search input {
      width: 100%
  }

  .custom-select-search__options {
      padding: 0;
      list-style: none !important;
  }

  .custom-select-search__options li {
      width: 100%;
  }

  .custom-select-search__options li button {
      width: 100%;
      padding-top: 6px;
      padding-bottom: 6px;
      outline: none;
      border: none;
      border-bottom: 1px solid gray;
      background: rgba(234, 234, 241, 0.8);
      color: rgba(137, 137, 143, 0.8);
      transition: ease all .3s;
  }

  .custom-select-search__options li button:hover {
      background: rgba(13,110,253,0.7);
      color:rgba(255, 255, 255, 0.9);
      cursor: pointer;
  }

  .employee-list-modal-item {
      border-bottom: 1px solid gray;
  }

  .br-t-5 {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(139, 137, 137, 0.8);
    border-radius: 10px;
  }

@media screen and (max-width: 1050px) and (min-width: 870px) {
    .font-size-heading {
        font-size: 0.9rem;
    }
  
    .font-size-small {
        font-size: 0.60rem;
    }
  
    .font-size-smaller {
        font-size: 0.5rem;
    }
  
    .font-size-normal {
        font-size: 0.75rem;
    }

    /* .project-status-text {
        width: 65%;
    } */

    .list-card-min-height {
        min-height: 45vh;
    }

}

@media screen and (max-width: 869px) and (min-width: 600px) {
    .font-size-heading {
        font-size: 0.70rem;
    }
  
    .font-size-small {
        font-size: 0.45rem;
    }
  
    .font-size-smaller {
        font-size: 0.4rem;
    }
  
    .font-size-normal {
        font-size: 0.65rem;
    }

    /* .project-status-text {
        width: 90%;
    } */

    .list-card-min-height {
        min-height: 35vh;
    }
}